.login-button {
    border: none;
    background-color: #72C81E;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    font-size: 20px;
    width: 50%;
}