.login-button {
    background-color: #72C81E;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
    color: white;
}