.add-Lesson-button-settings {
    border: none;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f366ac;
    color: black;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 131%;
    transform: translate(-12%, 50%);
}
