.FIT {
    background-image: url("/assets/FacultyButtons/FIT.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 50px;
    min-width: 200px;
    min-height: 200px;
    border-left: 50vh;
    border-right: 50vh;
    cursor: pointer;
    transform: translate(-250%,75%);
}