.add-button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FF5151;
    color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
}
