.DefaultPage {
    background-image: url("/assets/backgrounds/BackgroundDefault.png");
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 99vh;
    min-width: 102vh;
    height: 700px;
}
.h{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.h__logged{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.user__name{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}