.TimetableGroupPage {
    background-image: url("/assets/backgrounds/BackgroundDefault.png");
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 99vh;
    min-width: 102vh;
}
.w1{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    transform: translate(139%, -900%);
}

